@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Импорт шрифтов Poppins и Nunito */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/* Установка базовых стилей для всех элементов страницы */

:root {
  --bg-color-dim-gray: #1f242d;
  --second-bg-color-gray: #323946;
  --text-color-white: #fff;
  --main-color-blue: #0ef;
}
/* Определение CSS-переменных для базовых цветов */

html {
  font-size: 62, 5%;
  overflow-x: hidden;
}
/* Установка базового размера шрифта и отключение горизонтальной прокрутки */

body {
  background: var(--bg-color-dim-gray);
  color: var(--text-color-white);
}
/* Задание фона и цвета текста для всей страницы */

section {
  padding: 7.94rem 9% 2rem;
}
/* Стиль для секций, чтобы каждая занимала не менее 100% высоты экрана и имела отступы */

/* header section design starts */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color-dim-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
/* Стиль для шапки (header): фиксированная позиция, фон и выравнивание содержимого */

.logo {
  font-size: 2.5rem;
  color: var(--text-color-white);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}
/* Стиль для логотипа: размер шрифта, цвет и курсор при наведении */

.logo:hover {
  color: var(--main-color-blue);
  transform: scale(1.05);
  transition: color 0.1s, transform 0.3s;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color-white);
  margin-left: 4rem;
  transition: 0.3s;
}
/* Стиль ссылок в навигационном меню: цвет, размер шрифта и отступы */

.navbar a:hover {
  font-size: x-large;
  color: var(--main-color-blue);
}
/* Изменение цвета ссылок при наведении и для активной ссылки */

#menu-icon {
  font-size: 3rem;
  color: var(--text-color-white);
  display: none;
}
/* Стиль для иконки мобильного меню (бургер-меню): скрыто по умолчанию */

/* header section design ends*/

/* home section design starts*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Стиль для домашней секции: центрирование содержимого */

.home-content img {
  width: 30vw;
}
/* Изменение размера изображения в домашней секции */

.home-content h3 {
  font-size: 3.3rem;
  font-weight: 700;
}

span {
  color: var(--main-color-blue);
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}
/* home section design  ends*/

/* social-media section design  starts*/
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color-blue);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color-blue);
  margin: 2.5rem 1rem 3rem 0.3rem;
  transition: 0.5sec ease;
}
/* Стиль для иконок социальных сетей: размер, цвет и анимация при наведении */

.social-media a:hover {
  background: var(--main-color-blue);
  color: #8a2be2;
  box-shadow: 0 0 1rem var(--main-color-blue);
}
/* Анимация для иконок соцсетей при наведении */

/* social-media section design ends*/

/* btn style starts*/
.btn {
  display: inline-block; /* Устанавливаем блочно-строчный элемент для кнопки, чтобы можно было задавать размеры */
  padding: 2rem 2.8rem; /* Внутренние отступы: 1rem сверху/снизу и 2.8rem слева/справа */
  background: var(
    --main-color-blue
  ); /* Устанавливаем цвет фона, взятый из переменной --main-color-blue */
  color: indigo;
  border-radius: 4rem; /* Скругляем углы кнопки до радиуса 4rem */
  box-shadow: 0 0 1rem var(--main-color-blue); /* Добавляем тень кнопке того же цвета, что и фон */
  font-size: 1.6rem; /* Устанавливаем размер шрифта 1.6rem */
  letter-spacing: 0.1rem; /* Добавляем интервал между буквами */
  font-weight: bolder; /* Устанавливаем полужирный вес шрифта */
  transition: 0.5sec ease; /* Анимация всех изменений с плавным переходом за 0.5 секунды */
  cursor: pointer;
}

.btn:hover {
  box-shadow: none; /* Убираем тень при наведении на кнопку */
}
/* btn style ends*/

/* about section design starts */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color-gray);
}
/* Стиль для секции "О нас": выравнивание элементов */

.about-img img {
  width: 35vw;
}
/* Изменение размера изображения в секции "О нас" */

.heading {
  text-align: center; /* Выравнивание заголовка по центру */
  font-size: 4.5rem; /* Размер шрифта заголовка */
  margin-bottom: 2rem;
}

.about-content h2 {
  line-height: 1.2; /* Межстрочный интервал для заголовка h2 */
}

.about-content h3 {
  text-align: center; /* Выравнивание заголовка h3 по центру */
  font-size: 2.6rem; /* Размер шрифта для заголовка h3 */
}

.about-content p {
  font-size: 1.6rem; /* Размер шрифта абзаца */
  margin: 2rem 0 3rem; /* Отступы сверху и снизу для абзаца */
}

.about-content .btn {
  margin-left: 15rem; /* Отступ слева для кнопки в блоке about-content */
}

/* Адаптивность кнопки Узнать больше */
@media (max-width: 769px) {
  .about-content .btn {
    margin-left: 0rem;
  }
}

/* about section design ends */

/* services section design starts */
.services h2 {
  margin-bottom: 3rem;
}
/* Стиль для заголовка секции услуг */

.services-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
}
/* Стиль для контейнера с услугами: центрирование и адаптивное распределение элементов */

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color-gray);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color-dim-gray);
  transform: 0.5s ease;
}
/* Стиль для карточек услуг: фон, отступы и закругление углов */

.services-container .services-box:hover {
  border-color: var(
    --main-color-blue
  ); /* Изменение цвета границы при наведении на элемент services-box */
  transform: scale(
    1.02
  ); /* Увеличение элемента на 2% при наведении для эффекта приоритетности */
}

.services-box i {
  font-size: 5rem; /* Размер шрифта иконки внутри блока services-box */
  color: var(
    --main-color-blue
  ); /* Цвет иконки, установленный на основной синий цвет */
}

.services-box h3 {
  font-size: 2rem; /* Размер шрифта заголовка h3 внутри блока services-box */
}

.services-box p {
  font-size: 1.6rem; /* Размер шрифта абзаца внутри блока services-box */
  margin: 1rem 0 3rem; /* Отступы сверху и снизу для абзаца */
}
/* services section design ends */

/* portfolio section design starts*/
/* Заголовок секции портфолио */
.portfolio h2 {
  background: var(--second-bg-color-gray);
  margin-bottom: 4rem;
}

/* Контейнер портфолио */
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  align-items: center;
}

/* Карточки портфолио */
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color-dim-gray);
  overflow: hidden;
  display: flex;
}

/* Изображения в карточках */
.portfolio-box img {
  width: 100%;
  transition: transform 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

/* Слой с текстом в карточках */
.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.11), var(--main-color-blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

/* Заголовок слоя */
.portfolio-layer h4 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

/* Текст слоя */
.portfolio-layer p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Ссылки в слое */
.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--text-color-white);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 1.5rem;
  color: var(--second-bg-color-gray);
}

/* Адаптация под экраны 1250px */
@media (max-width: 1250px) {
  .portfolio-container {
    gap: 15px;
  }

  .portfolio-layer h4 {
    font-size: 1.1rem;
  }

  .portfolio-layer p {
    font-size: 0.8rem;
  }
}

/* Адаптация под экраны 882px */
@media (max-width: 882px) {
  .portfolio-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }

  .portfolio-box {
    border-radius: 8px;
  }

  .portfolio-layer h4 {
    font-size: 1.3rem;
  }

  .portfolio-layer p {
    font-size: 0.85rem;
  }
}

/* Адаптация под экраны 480px */
@media (max-width: 480px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .portfolio-layer h4 {
    font-size: 1.6rem;
  }

  .portfolio-layer p {
    font-size: 0.9rem;
  }
}
/* portfolio section design ends*/

/* footer section design start*/
/* Основные стили футера */
footer {
  background-color: #333; /* Темный фон */
  color: #fff; /* Белый текст */
  padding: 40px 0; /* Внутренние отступы */
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Равномерное распределение блоков */
  max-width: 1200px; /* Максимальная ширина */
  margin: 0 auto; /* Центрирование контейнера */
  flex-wrap: wrap; /* Адаптивность на малых экранах */
}

.footer-block {
  flex: 1; /* Равное распределение места между блоками */
  margin: 0 15px; /* Отступы между колонками */
}

.footer-block h3 {
  font-size: 25px;
  margin-bottom: 10px; /* Отступ под заголовком */
}

.footer-block ul {
  list-style: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы у списка */
}

.footer-block ul li {
  margin-bottom: 10px; /* Отступы между пунктами списка */
}

.footer-block ul li a {
  color: #fff; /* Цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  transition: color 0.3s; /* Плавная смена цвета при наведении */
}

.footer-block ul li a:hover {
  color: #0ef; /* Цвет текста при наведении */
}

/* Адаптивность */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Колонки идут друг под другом на малых экранах */
    align-items: center;
  }

  .footer-block {
    margin-bottom: 30px; /* Добавляем отступы снизу для каждого блока */
  }
}
/* footer section design ends*/

/* Адаптивность для мобильных устройств */
@media (max-width: 1200px) {
  /* Изменение размеров шрифтов и элементов для мобильных устройств */
  .header {
    padding: 1.5rem 2rem;
  }

  .navbar a {
    font-size: 1.4rem;
    margin-left: 2rem;
  }

  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content p {
    font-size: 1.4rem;
  }

  .home-content img {
    width: 60vw;
    margin-bottom: 3rem;
  }

  .social-media a {
    width: 3.5rem;
    height: 3.5rem;
  }

  .about,
  .services,
  .portfolio-container {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .about-content .btn {
    margin-left: 0;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .portfolio-box {
    margin-bottom: 2rem;
  }
}

/* Для планшетов */
@media (max-width: 882px) {
  /* Изменение размера шрифтов */
  .logo {
    font-size: 2rem;
  }

  .navbar a {
    font-size: 1.5rem;
  }

  .home-content h1 {
    font-size: 3.2rem;
  }

  .home-content h3 {
    font-size: 2.4rem;
  }

  .home-content p {
    font-size: 1.4rem;
  }

  .home-img {
    margin-top: 2rem;
    width: 365px;
    height: auto;
  }

  .social-media a {
    width: 3rem;
    height: 3rem;
  }

  .about-content h2 {
    font-size: 3.6rem;
  }

  .about-content h3 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 1.4rem;
  }

  .services-box {
    padding: 2rem 1rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Для телефонов */
@media (max-width: 480px) {
  .logo {
    font-size: 1.8rem;
  }

  .navbar a {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .home-content h1 {
    font-size: 2.6rem;
  }

  .heading h2 {
    font-size: 1rem;
  }

  .heading span {
    font-size: 68px;
  }

  .home-content h3 {
    font-size: 1.8rem;
  }

  .home-content p {
    font-size: 1.2rem;
  }

  .home-content img {
    width: 70vw;
  }

  .about,
  .services,
  .portfolio-container {
    padding: 1rem 0.5rem;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

/* Адаптивность для меню */
@media (max-width: 882px) {
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--bg-color-dim-gray);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none; /* Скрываем меню на мобильных устройствах */
  }

  .navbar a {
    margin: 1rem 0;
    font-size: 2rem;
  }

  #menu-icon {
    display: block; /* Показываем иконку бургера */
    cursor: pointer;
  }

  .navbar.active {
    display: flex; /* Показываем меню при нажатии на бургер */
  }
}

@media (min-width: 882px) {
  #menu-icon {
    display: none; /* Скрываем бургер на больших экранах */
  }
}
